.post-list__wrapper h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 40px; }

.single-post {
  margin-bottom: 30px; }

.post-title {
  font-size: 18px;
  text-transform: uppercase; }

.single-post__wrapper {
  border: 1px solid #bfdacb;
  padding: 20px;
  height: 200px;
  border-radius: 2px; }

.post-btn {
  position: absolute;
  top: 150px;
  background-color: #bfdacb;
  border: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700; }

.close-btn {
  background-color: #bfdacb;
  border: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  color: white; }

.post-btn:hover, .close-btn:hover {
  color: white;
  background: #bfdacb; }

.post-btn:focus, .close-btn:focus {
  background-color: #bfdacb;
  color: white;
  border-color: #bfdacb;
  outline: none; }

.post-btn:active, .close-btn:active {
  background-color: #bfdacb;
  color: white;
  border-color: #bfdacb;
  outline: none; }

.modal-content {
  border: 1px solid #bfdacb;
  border-radius: 2px; }
  .modal-content .modal-header {
    border-bottom: 1px solid #bfdacb; }
  .modal-content .modal-footer {
    border-top: 1px solid #bfdacb; }

@media (max-width: 522px) {
  .single-post__wrapper {
    height: 300px; }
  .post-btn {
    float: right;
    position: absolute;
    top: 250px; } }

@media (max-width: 310px) {
  .single-post__wrapper {
    height: 500px;
    width: auto; }
  .post-btn {
    top: 400px; } }
